*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
    font-family: 'Expletus Sans', cursive;
    font-size: 25px;
}


.carousel-caption {
    /*background-color: white;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: right;*/
    /*margin: 0 auto;*/
}

.navbarstrech {
    width: 100%;
}

/*.navbarlogo {
    width: 20%;
}
.logo {
    width: 40%;
}*/
/*ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
}*/
/*li{
    font-size: 18px;
}*/
.pink {
    color: #FF0566; 
}
.design {
    
    background-image: url('public/images/design.png');
    background-size: auto;
    background-repeat: no-repeat;
    height: 1200px;

    background-size: 100% 100%;

}
#bgimagedesign {

    background-repeat: no-repeat;
    /*background-size: auto;*/
}
.design2 {
    background-image: url('public/images/market.png');
    background-size: auto;
    background-repeat: no-repeat;
    height: 1110%;
    background-size:  100% 100%;

}
/* background-size:  100% 200%;
    -webkit-background-size: 780% auto;
-moz-background-size: 150% auto;
-o-background-size: 150% auto;*/


.design3 {
    background-image: url('public/images/market_segment.png');
     height: 280px;   
}
.vl {
  border-left: 2px solid gray;
  height: 50px;
  position: relative;
  left: 50%;
  margin-left: -2px;
  top: 0;
}
.mainContainer {
    height: 70vh;
    background-image: url('public/images/nav.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    color: white;
    text-align:center;
}
.mainContainerText{
    padding: 8em 0;
}
.mainContainerButton {
    padding: 0.01px 0;

}
/*.hoverred:hover {
    background-color: darkpink;
}*/

.bttn:hover {
    background-color: #E8E8E8;
}

/*our capblity code*/


div.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.capability {
    background-color:   #E8E8E8;
}




.mr-1 {
  margin-right: ($spacer * .25) !important;
}

/* end*/

/*font control media*/

@media (max-width: 575.98px) { height:10% }
.carousel-caption h2 { font-size: 10px;}
.carousel-caption p { font-size: 8px;}


@media (min-width: 576px) { // Small devices (landscape phones, 576px and up)
  .carousel-caption h2 { font-size: 12px;}
  .carousel-caption p {font-size: 10px;}
  .capbutton {width: 100px;} 
  h5 {font-size: 15px;}
  .bttn {
    width: 100px;
} 
}
@media (min-width: 768px) {// Medium devices (tablets, 768px and up)
  .carousel-caption h2 { font-size: 15px;}
  .carousel-caption p {font-size: 12px;}  

}
@media (min-width: 992px) { // Large devices (desktops, 992px and up)
  .carousel-caption h2 { font-size: 18px;}
  .carousel-caption p {font-size: 15px;} 
  

}
@media (min-width: 1200px) { // Extra large devices (large desktops, 1200px and up)
  .carousel-caption h2 { font-size: 18px;}
  .carousel-caption p {font-size: 15px;}  
}


/*cards*/



// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { height:25% }


button {width: 100px;}  
.bttn {
    width: 50px;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { height:20% }
.card { height: 95%; font-size: 10px;}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { height:70% }
.card { height: 95%; font-size: 15px;}
.carousel-caption h2 { font-size: 25px;}
h5 { font-size: 25px;}
p { font-size: 15px;}

@media screen and (min-width: 576px) {
  .bttn {
    position: absolute;
    width: 200px;
  }


/*our capability*/

 /* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { height:25% }

button {width: 100px;}  
.parent {
    width: 50px;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { height:20% }
.parent { height: 95%; font-size: 10px;}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { height:70% }
.parent { height: 95%; font-size: 15px;}

@media screen and (min-width: 576px) {
  .parent {
    position: absolute;
    width: 200px;
  }*/

/*@media only screen and (max-width: 600px){


.row{

    flex-direction: column;
}

}  */


